<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="myProject2_7001.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <myProject2_7001.Properties.Settings>
            <setting name="lotNumber" serializeAs="String">
                <value>TF1408DA2</value>
            </setting>
            <setting name="serialNumber" serializeAs="String">
                <value>TF1408DA2-01</value>
            </setting>
            <setting name="operatorName" serializeAs="String">
                <value>Sean</value>
            </setting>
            <setting name="testSpec" serializeAs="String">
                <value/>
            </setting>
            <setting name="testPhase" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="configFile" serializeAs="String">
                <value>11432541345</value>
            </setting>
            <setting name="dataOutputPath" serializeAs="String">
                <value>2ret</value>
            </setting>
            <setting name="ke2400_gpib" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ke7001_gpib" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="compliance" serializeAs="String">
                <value>5</value>
            </setting>
        </myProject2_7001.Properties.Settings>
    </userSettings>
</configuration>
